<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>To-do List App</title>
	
</head>
<body>
	<ul class="navigasi">
		<li><a href="/dashboard" >Home</a></li>
		<li><a href="/dashboard/profile">Profile</a></li>
		<li><a id="active" >Hapus To-do List</a></li>
		<li style="float: right;"><a href="/view/logout">Logout</a></li>
	</ul>
	<div class="transparant-content">
	</div>
	<div id="myHeader">
		<div class="action">
			<h1 class=""> To-do List App 
			<a style="float: right;" id="lt" href="/dashboard"><img class="btn" src="/img/kembali.png"></a>
		</h1>
		</div>
	</div>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<div class="todos">
		<!-- <h1 class="text-center">To-do List App</h1> -->
		<div class="todo">
			<% for(var i =0 ; i < data.length; i++) { %>
				<ul class="list">
						<li style="color: black;" width="100%"><%=data[i].title%></li>
						<li style="float: right;">
							<a href="/dashboard/hapus/<%=data[i].id%>">
								<img class="btn-kecil" src="/img/hapus.png">
							</a>
						</li>
				</ul>
			<% } %>
		</div>
	</div>
	
</body>
</html>